body {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
}

.buttons {
  font-family: 'Montserrat', sans-serif;
  border: solid 2px #fff;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
  background-color: #4682b4;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

table,
tr,
td {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 2.5rem;
}

td {
    width: 2.5rem;
}
